In [11]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split 

path='RealEstateData.csv'
data=pd.read_csv(path)
data.head(10)

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes
5,KG Earth Homes,"2 BHK Flat for sale in Siruseri, Chennai",₹40.0 L,"Siruseri, Chennai",940,4250.0,"Price negotiable. Big hall, big balcony, gated...",3,No
6,"THIRAN FLATS ,Gowrivakkam, Sembakkam,Chennai","2 BHK Flat for sale in Sembakkam, Chennai",₹60.0 L,"THIRAN FLATS ,Gowrivakkam, Sembakkam,Chennai",880,6820.0,2 BHK Apartment for sale in Chennai. This prop...,3,Yes
7,TK Jasmine Grove,3 BHK Independent House for sale in Mahindra W...,₹72.35 L,"Mahindra World City, Chennai",1700,4250.0,A 3 BHK Independent House for sale in Mahindra...,3,Yes
8,Avenue,"2 BHK Flat for sale in West Tambaram, Chennai",₹42.0 L,"Brindavan Colony, West Tambaram,Chennai",840,5000.0,Check out this 2 BHK Apartment for sale in Tam...,3,No
9,Guru Kothai Aparts,"1 BHK Flat for sale in Chromepet, Chennai",₹30.0 L,"New Colony, Chromepet,Chennai",535,5610.0,We are the proud owners of this 1 bhk apartmen...,2,No

In [5]:
data.describe()

         Total_Area  Price_per_SQFT         Baths
count  14528.000000    14528.000000  14528.000000
mean    1297.916988    11719.456222      2.751239
std     1245.694305    49036.068632      0.898243
min       70.000000        0.000000      1.000000
25%      650.000000     4480.000000      2.000000
50%     1000.000000     6050.000000      3.000000
75%     1439.000000     9312.500000      3.000000
max    35000.000000   999000.000000      6.000000

In [6]:
data.columns

Index(['Name', 'Property Title', 'Price', 'Location', 'Total_Area',
       'Price_per_SQFT', 'Description', 'Baths', 'Balcony'],
      dtype='object')

# Converting Price (Cr/L) to L (float)

In [16]:
def convert_price(price):
    try:
        price = price.replace('₹', '')  # Remove the Rupee symbol
        if 'Cr' in price:
            return float(price.replace('Cr', '')) * 100  # Convert Cr to lakhs
        elif 'L' in price:
            return float(price.replace('L', ''))  # Keep L as it is
        else:
            return float(price)  # Handle unexpected values
    except ValueError:
        return None

data['Price'] = data['Price'].apply(convert_price)

In [17]:
data.head(10)

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",199.00,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,225.00,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",100.00,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,333.00,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",48.00,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes
5,KG Earth Homes,"2 BHK Flat for sale in Siruseri, Chennai",40.00,"Siruseri, Chennai",940,4250.0,"Price negotiable. Big hall, big balcony, gated...",3,No
6,"THIRAN FLATS ,Gowrivakkam, Sembakkam,Chennai","2 BHK Flat for sale in Sembakkam, Chennai",60.00,"THIRAN FLATS ,Gowrivakkam, Sembakkam,Chennai",880,6820.0,2 BHK Apartment for sale in Chennai. This prop...,3,Yes
7,TK Jasmine Grove,3 BHK Independent House for sale in Mahindra W...,72.35,"Mahindra World City, Chennai",1700,4250.0,A 3 BHK Independent House for sale in Mahindra...,3,Yes
8,Avenue,"2 BHK Flat for sale in West Tambaram, Chennai",42.00,"Brindavan Colony, West Tambaram,Chennai",840,5000.0,Check out this 2 BHK Apartment for sale in Tam...,3,No
9,Guru Kothai Aparts,"1 BHK Flat for sale in Chromepet, Chennai",30.00,"New Colony, Chromepet,Chennai",535,5610.0,We are the proud owners of this 1 bhk apartmen...,2,No

In [18]:
data.describe()

              Price    Total_Area  Price_per_SQFT         Baths
count  14526.000000  14528.000000    14528.000000  14528.000000
mean     106.732880   1297.916988    11719.456222      2.751239
std      186.743861   1245.694305    49036.068632      0.898243
min        1.000000     70.000000        0.000000      1.000000
25%       37.000000    650.000000     4480.000000      2.000000
50%       65.000000   1000.000000     6050.000000      3.000000
75%      114.000000   1439.000000     9312.500000      3.000000
max     8400.000000  35000.000000   999000.000000      6.000000

In [20]:
data.dropna(axis=0)

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",199.0,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,225.0,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",100.0,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,333.0,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",48.0,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes
...,...,...,...,...,...,...,...,...,...
14523,"Krishna Park Extension, Tilak Nagar,New Delhi","2 BHK Flat for sale in Tilak Nagar, New Delhi",40.0,"Krishna Park Extension, Tilak Nagar,New Delhi",1053,3800.0,Looking for a good 2 BHK Apartment in Tilak Na...,3,Yes
14524,"Rawta, Jaffarpur Kalan,New Delhi",1 BHK Independent House for sale in Jaffarpur ...,14.0,"Rawta, Jaffarpur Kalan,New Delhi",472,2970.0,1 BHK Independent House for sale in Jaffarpur ...,2,Yes
14525,"Rani Garden, Geeta Colony,New Delhi","1 BHK Flat for sale in Geeta Colony, New Delhi",30.0,"Rani Garden, Geeta Colony,New Delhi",378,7940.0,"Property for sale in Geeta Colony, Delhi. This...",1,Yes
14526,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...","3 BHK Flat for sale in Sector 16 Rohini, New D...",60.0,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...",700,8570.0,Check out this 3 BHK Apartment for sale in Roh...,2,Yes
14527,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,55.0,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes

Creating the Features & Target

In [29]:
data_features=['Total_Area', 'Price_per_SQFT','Baths']
X=data[data_features]

In [30]:
y=data.Price

Split the dataset into Train & Test

In [31]:
train_X,test_X,train_y, test_y= train_test_split(X,y,random_state=0)

Training the Model

In [32]:
data_model= DecisionTreeRegressor(random_state=1)
data_model.fit(train_X,train_y)

DecisionTreeRegressor(random_state=1)

In [35]:
predict = data_model.predict(test_X)

Model Validation using the MAE (Model Ansolute Error)

In [37]:
print(mean_absolute_error(test_y, predict))

11.2630077551395